In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_datos import *
from src.help_scraping import *

In [2]:
url = 'https://www.flashscore.es/voleibol/espana/superliga-masculina-2019-2020/#/dbcRyvQO/table/overall'
parametros = 'clasificacion'
datos=scraping(url,parametros)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Posición', 'Equipo', 'PJ', 'G', 'P', 'S', 'PTS', 'Forma','f','f','f','f','f']
parametros = 'clasificacion'
clasificacion = crear_df(datos,columna,parametros)
clasificacion.head(6)

  Posición               Equipo  PJ   G   P      S PTS Forma  f  f  f  f   f
0       1.      Unicaja Almería  20  19   1  58:15  54     G  G  G  G  G  2.
1       2.            CV Teruel  20  16   4  54:17  49     G  P  G  G  P  3.
2       3.          Voley Palma  20  13   7  45:27  42     P  G  G  P  P  4.
3       4.  Ushuaïa Ibiza Voley  20  13   7  42:29  38     G  G  G  G  P  5.
4       5.           Vecindario  20  12   8  44:35  36     G  G  G  G  G  6.
5       6.                 Grau  20  10  10  40:36  34     G  G  P  P  G  7.

In [4]:
clasificacion['Posición'] = clasificacion['Posición'].astype(str).str.rstrip('.')
clasificacion['Posición'] = clasificacion['Posición'].astype(int)
clasificacion = clasificacion.drop(['f','Forma','S'], axis=1)
convertir = clasificacion.columns.difference(['Equipo'])
clasificacion[convertir] = clasificacion[convertir].apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)
clasificacion.head(2)

   Posición           Equipo  PJ   G  P  PTS
0         1  Unicaja Almería  20  19  1   54
1         2        CV Teruel  20  16  4   49

In [5]:
mapear_nombres(clasificacion)

    Posición                     Equipo  PJ   G   P  PTS
0          1            Unicaja Almería  20  19   1   54
1          2                  CV Teruel  20  16   4   49
2          3                Voley Palma  20  13   7   42
3          4                Ibiza Voley  20  13   7   38
4          5      Vecindario Las Palmas  20  12   8   36
5          6                       Grau  20  10  10   34
6          7               Arenal Emevé  20  12   8   30
7          8  Voley Textil Santanderina  20   6  14   20
8          9            Rio Duero Soria  20   7  13   19
9         10                    Manacor  20   5  15   18
10        11          Voleibol Almoradí  20   5  15   15
11        12                 CV Melilla  20   2  18    5

In [6]:
df= pd.read_csv('../../data/2019-2020/equipo.csv')
df

                       Equipo     id_equipo
0                Arenal Emevé   1-2019-2020
1                   CV Teruel   2-2019-2020
2                     Manacor   3-2019-2020
3                  CV Melilla   4-2019-2020
4             Rio Duero Soria   5-2019-2020
5                        Grau   6-2019-2020
6             Unicaja Almería   7-2019-2020
7                 Voley Palma   8-2019-2020
8                 Ibiza Voley   9-2019-2020
9       Vecindario Las Palmas  10-2019-2020
10          Voleibol Almoradí  11-2019-2020
11  Voley Textil Santanderina  12-2019-2020

In [7]:
clasificacion = pd.merge(clasificacion, df[['Equipo', 'id_equipo']], left_on='Equipo', right_on='Equipo', how='left')
clasificacion['temporada']='2019-2020'
clasificacion

,Posición,Equipo,PJ,G,P,PTS,id_equipo,temporada
0,1,Unicaja Almería,20,19,1,54,7-2019-2020,2019-2020
1,2,CV Teruel,20,16,4,49,2-2019-2020,2019-2020
2,3,Voley Palma,20,13,7,42,8-2019-2020,2019-2020
3,4,Ibiza Voley,20,13,7,38,9-2019-2020,2019-2020
4,5,Vecindario Las Palmas,20,12,8,36,10-2019-2020,2019-2020
5,6,Grau,20,10,10,34,6-2019-2020,2019-2020
6,7,Arenal Emevé,20,12,8,30,1-2019-2020,2019-2020
7,8,Voley Textil Santanderina,20,6,14,20,12-2019-2020,2019-2020
8,9,Rio Duero Soria,20,7,13,19,5-2019-2020,2019-2020
9,10,Manacor,20,5,15,18,3-2019-2020,2019-2020
10,11,Voleibol Almoradí,20,5,15,15,11-2019-2020,2019-2020
11,12,CV Melilla,20,2,18,5,4-2019-2020,2019-2020

In [8]:
clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Posición   12 non-null     int32
 1   Equipo     12 non-null     object
 2   PJ         12 non-null     int32
 3   G          12 non-null     int32
 4   P          12 non-null     int32
 5   PTS        12 non-null     int32
 6   id_equipo  12 non-null     object
 7   temporada  12 non-null     object
dtypes: int32(5), object(3)
memory usage: 660.0+ bytes

In [2]:
clasificacion = normalizar('../../data/2019-2020/clasificacion.csv')

## Guardado en CSV.

In [6]:
clasificacion.to_csv('../../data/2019-2020/clasificacion.csv', index=False)

## Base de datos.

In [3]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [4]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [5]:

clasificacion.to_sql('clasificacion', engine, if_exists='append', index=False)

12