In [19]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import scraping_equipos
import pandas as pd

In [20]:
equipo = scraping_equipos('https://www.rfevb.com/')

Arenal Emevé
Estoy dentro.
Cisneros Alter
Estoy dentro.
Club Vóley Palma
Estoy dentro.
Conectabalear CV Manacor
Estoy dentro.
CV Guaguas
Estoy dentro.
CV Melilla
Estoy dentro.
CV San Roque
Estoy dentro.
Grupo Herce Soria
Estoy dentro.
Pamesa Teruel Voleibol
Estoy dentro.
Unicaja Costa de Almería
Estoy dentro.
UPV Leleman Conqueridor
Estoy dentro.
Volei Villena Petrer
Estoy dentro.
Scraping exitoso

In [21]:
equipo

['Arenal Emevé',
 'Cisneros Alter',
 'Club Vóley Palma',
 'Conectabalear CV Manacor',
 'CV Guaguas',
 'CV Melilla',
 'CV San Roque',
 'Grupo Herce Soria',
 'Pamesa Teruel Voleibol',
 'Unicaja Costa de Almería',
 'UPV Leleman Conqueridor',
 'Volei Villena Petrer']

In [23]:
equipo = pd.DataFrame(equipo, columns=['Nombre'])
equipo['id_equipo'] = range(1, len(equipo) + 1)
equipo

                      Nombre  id_equipo
0               Arenal Emevé          1
1             Cisneros Alter          2
2           Club Vóley Palma          3
3   Conectabalear CV Manacor          4
4                 CV Guaguas          5
5                 CV Melilla          6
6               CV San Roque          7
7          Grupo Herce Soria          8
8     Pamesa Teruel Voleibol          9
9   Unicaja Costa de Almería         10
10   UPV Leleman Conqueridor         11
11      Volei Villena Petrer         12

In [25]:

data = {'Nombre': ['Arenal Emevé', 'Cisneros Alter', 'Club Vóley Palma', 'Conectabalear CV Manacor',
                   'CV Guaguas', 'CV Melilla', 'CV San Roque', 'Grupo Herce Soria',
                   'Pamesa Teruel Voleibol', 'Unicaja Costa de Almería', 'UPV Leleman Conqueridor',
                   'Volei Villena Petrer'],
        'id_equipo': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]}

equipo = pd.DataFrame(data)

nuevos_nombres = {'Equipo': ['Rio Duero Soria', 'Unicaja Almería', 'Guaguas', 'CV Teruel', 'CV Melilla',
                             'Cisneros Alter', 'Conqueridor Valencia', 'San Roque - Batán', 'Voley Palma',
                             'Manacor', 'Arenal Emevé', 'Santo Domingo VB Petrer'],
                  'id_equipo': [8, 10, 5, 9, 6, 2, 11, 7, 3, 4, 1, 12]}

nueva_tabla = pd.DataFrame(nuevos_nombres)

equipo['Nombre'] = equipo['id_equipo'].map(nueva_tabla.set_index('id_equipo')['Equipo'])

equipo[['Nombre', 'id_equipo']]

                     Nombre  id_equipo
0              Arenal Emevé          1
1            Cisneros Alter          2
2               Voley Palma          3
3                   Manacor          4
4                   Guaguas          5
5                CV Melilla          6
6         San Roque - Batán          7
7           Rio Duero Soria          8
8                 CV Teruel          9
9           Unicaja Almería         10
10     Conqueridor Valencia         11
11  Santo Domingo VB Petrer         12

In [27]:
equipo.to_csv('..\..\data\Equipos.csv', index=False)