In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=82&PID=122'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el bot√≥n de cookies.
Scraping exitoso

In [8]:

columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque','Errores_Saque', 'Porcentaje_error',
                'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]
parametro= 'estadistica_opuesto'
opuesto = crear_df(datos[3],columna,parametro)
opuesto.drop([1,17], inplace=True, axis=1)
opuesto.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Kukartsev Pavel,28,106,55,55,37,487,56,47,3,138,496,52,76,991,"3,5283"
1,De Melo Rodrigo Roberto,26,99,27,60,17,370,19,8,0,54,529,100,82,1049,"3,2828"

In [9]:
opuesto=normalizar_df(opuesto)

In [10]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2021-2022/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posicion,Altura,Ano_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,Alzueta Joaquin,Middle-blocker,196.0,2000,337.0,323.0,1-2021-2022,2021-2022,1-2021-2022
1,2,Paradela Corton Miguel,Libero,184.0,2004,310.0,305.0,2-2021-2022,2021-2022,1-2021-2022

In [11]:
opuesto = pd.merge(opuesto, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
opuesto['temporada']='2021-2022'

opuesto.head()

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Kukartsev Pavel,28,106,55,55,37,487,56,47,3,138,496,52,76,991,"3,5283",173-2021-2022,12-2021-2022,2021-2022
1,De Melo Rodrigo Roberto,26,99,27,60,17,370,19,8,0,54,529,100,82,1049,"3,2828",63-2021-2022,5-2021-2022,2021-2022
2,Pinheiro Leonardo Henrique,22,78,11,32,16,230,16,15,0,35,363,57,62,757,"2,8718",76-2021-2022,6-2021-2022,2021-2022
3,Martina Federico,29,110,7,47,14,267,36,17,1,82,471,65,92,907,"2,6545",112-2021-2022,8-2021-2022,2021-2022
4,Gimeno Rubio Alvaro,23,87,36,64,15,342,30,25,3,87,371,59,64,752,"2,5517",115-2021-2022,9-2021-2022,2021-2022

In [12]:
convertir = opuesto.columns.difference(['Nombre','id_jugador','id_equipo','temporada','Ataque_Ranking'])
opuesto[convertir] = opuesto[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
opuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            16 non-null     object
 1   Partidos_jugados  16 non-null     int64
 2   Sets_jugados      16 non-null     int64
 3   Bloqueos          16 non-null     int64
 4   Bloqueo_exitoso   16 non-null     int64
 5   Bloqueo_fallido   16 non-null     int64
 6   Total_bloqueos    16 non-null     int64
 7   Saque             16 non-null     int64
 8   Errores_Saque     16 non-null     int64
 9   Porcentaje_error  16 non-null     int64
 10  Total_saques      16 non-null     int64
 11  Ataque_exitoso    16 non-null     int64
 12  Errores_ataque    16 non-null     int64
 13  Porc_error        16 non-null     int64
 14  Total_ataques     16 non-null     int64
 15  Ataque_Ranking    16 non-null     object
 16  id_jugador        16 non-null     object
 17  id_equipo         16 non-null     object
 18  temporada         16 non-null     object
dtypes: int64(14), object(5)
memory usage: 2.5+ KB

In [16]:

opuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            16 non-null     object
 1   Partidos_jugados  16 non-null     int64
 2   Sets_jugados      16 non-null     int64
 3   Bloqueos          16 non-null     int64
 4   Bloqueo_exitoso   16 non-null     int64
 5   Bloqueo_fallido   16 non-null     int64
 6   Total_bloqueos    16 non-null     int64
 7   Saque             16 non-null     int64
 8   Errores_Saque     16 non-null     int64
 9   Porcentaje_error  16 non-null     int64
 10  Total_saques      16 non-null     int64
 11  Ataque_exitoso    16 non-null     int64
 12  Errores_ataque    16 non-null     int64
 13  Porc_error        16 non-null     int64
 14  Total_ataques     16 non-null     int64
 15  Ataque_Ranking    16 non-null     float64
 16  id_jugador        16 non-null     object
 17  id_equipo         16 non-null     object
 18  temporada         16 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 2.5+ KB

## Guardado en CSV.

In [17]:
opuesto.to_csv('../../data/2021-2022/opuesto.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [6]:

opuesto.to_sql('opuesto', engine, if_exists='append', index=False)

16